<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colourfully - Image Upload & Colour Analysis</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div class="results-div">
      <img src="<%= img%>" alt="uploaded image" />
     
        <h2>Colour Scheme:</h2>
        <p>Dominant Colours: <%= color.dominantColors %></p>
        <p>Foreground Colours: <%= color.dominantColorForeground %></p>
        <p>Background Colours: <%= color.dominantColorBackground %></p>
        <p>Accent Colour: #<%= color.accentColor %> 
          <span style="display:inline-block; width: 20px; height: 20px; background-color: #<%= color.accentColor %>; border: 1px solid #000;"></span>
      </p>

      <form action="/" enctype="multipart/form-data" method="post">
        <input type="file" name="file-to-upload" />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>
